{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindConfig": "./tailwind.config.js",
  "singleQuote": true,
  "semi": false,
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "singleAttributePerLine": true
}